// Mixins Here
.mainfont(){
    color: @main-font-color;
    font-family: 'Ubuntu', sans-serif;
}

.headerfont() {
    color: @header-font-color;
    font-family: 'Russo One', sans-serif;
}

//Parametric Mixin

